extends layout

block content
	h1= title
	p Passport is the centralized authentication mechanism for the Research & Development Committee of NYUAD Student Government. It protects your privacy by only sharing information you authorize while allowing you to sign in with many different mechanisms.
	h2 Questions? Want to develop something?
	p If you have more questions, just contact <a href="mailto:me@morgante.net">Morgante</a>. If you are developing an app for use by the NYU community, we can help you to create a secure and efficient authentication mechanism.
	