extends layout

block content
	h1 Your Passport Profile
	
	form.form-horizontal#edit
		.control-group.netID
			label.control-label(for='netID') NetID
			.controls
				input#netID(name='netID',type='text',value=user.netID,disabled)
		.control-group.name
			label.control-label(for='name') Name
			.controls
				input#name(name='name',type='text',value=user.name,disabled)
		.control-group.access
			label.control-label(for='levels') Access Level
			.controls
				ul
					li
						input(type='checkbox', checked=true)
						&nbsp; See groups
		if( user.groups )
			.control-group.groups
				label.control-label(for='groups') Groups
				.controls
					ul
					each group in user.groups
						li
							a(href=process.env.base_url + '/groups/' + group + '/view')=group
